*{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    background: #fff;
    padding-top: 2.1rem;
    box-sizing: border-box;
}
.password{
    width: 6.22rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: -0.01rem 0.01rem 0.34rem 0.06rem rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 0.7rem;
    padding-bottom: 0.4rem;
    box-sizing: border-box;
}
.title{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.32rem;
    color: #333;
    margin-bottom: 0.5rem
}
.title img{
    width: 0.28rem;
    height: 0.28rem;
    margin-right: 0.1rem;
}
.inputPass{
    border: 0.02rem solid #e2e2e2;
    padding: 0.4rem 0.25rem;
    color: #333;
    width: 89%;
    border-radius: 0.1rem;
    font-size: 0.32rem;
    margin-bottom: 0.4rem
}
button{
    height: 0.96rem;
    background: #E2E2E2;
    color: #B2B2B2;
    outline: 0px;
    border: none;
    font-size: 0.34rem;
    width: 100%;
    border-radius: 0.15rem;
}
.goback{
    display: block;
    width: 100%;
    margin-top: 0.4rem;
    color: #16D1B4;
    font-size: 0.34rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.notice{
    display: none;
    overflow: hidden;
    line-height: 0.35rem;
    margin-bottom: 0.2rem;
}
.notice img{
    width: 0.28rem;
    height: 0.28rem;
    margin-right: 0.1rem;
    float: left;
}
.notice span{
    font-size: 0.28rem;
    color: #333;
    float: left;
}